---
---
{% include start.html title="Dev@UCSF" %}
<div class="page-header">
    <h1>Dev@UCSF<br><small>Web-friendly APIs</small></h1>
</div>

<h2>APIs.ucsf.edu</h2>

<div class="row">
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="doc/person/">Person Search</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="doc/shuttle/">Shuttle</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="doc/fitness">Fitness Schedule</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="doc/library">Library</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="doc/map">Map</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="doc/">APIs.ucsf.edu Base</a>
        </div>
    </div>
</div>

<h2>APIs hosted elsewhere</h2>
<div class="row">
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="http://opendata.profiles.ucsf.edu/">Researcher Profiles</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="http://www.salesforce.com/us/developer/docs/chatterapi/index.htm">Salesforce Chatter</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="http://developers.box.com/docs/">Box</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="http://www.qualtrics.com/university/researchsuite/coders-corner/rest-api">Qualtrics Survey</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a class="btn btn-block btn-large btn-primary" href="https://wiki.library.ucsf.edu/display/DevUCSF/Ilios+Calendar+Feed+API">Ilios Calendar Feed</a>
        </div>
    </div>
</div>
{% include end.html %}
